.carousel-client {
  width: 100%;
  margin: 20px auto;
  height: 33rem;
  margin-top: 15px;
  padding-top: 0;
}

.carousel-slide {
  padding: 5px;
  border: white solid 11px;
}

.carousel-image {
  width: 90%;
  height: 500px;
  object-fit: contain;
  border-radius: 28px;
  transition: transform 0.5s ease;
  background: linear-gradient(125deg, rgb(240, 23, 229), rgb(11, 225, 233));
  position: relative;
  
}

/* ✅ Zoom sur l’image centrale */
.slick-center .carousel-image {
  transform: scale(1.1);
}

@media (max-width:768px){
  .carousel-client{
    height: 23rem;
  }

  .carousel-image{
    height: 300px;
  }

}

@media (max-width: 480px) {
  .carousel-client{
    /* border: 1px red solid; */
    height: 15rem;
  }

  .carousel-image{
    height: 210px;
  }
  
}

@media (max-width: 360px) {
  .carousel-client{
    height: 15rem;
  }

  .carousel-image{
    height: 150px;
  }
}

@media (max-width: 414px) {
  .carousel-client{
    height: 15rem;
  }

  .carousel-image{
    height: 150px;
  }
}

