.header-CA {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.actions {
  display: flex;
  gap: 1rem;
}

.btn-select {
  background-color: #2e7d32;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-effacer {
  background-color: #d32f2f;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-effacer:hover {
  background-color: #ff9800;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 640px) {
  #statut-commande-annulee{
    width: 70px;
    justify-content: center;
    margin-left: 27.8rem;
  }

  #retour-mescommandes{
    display: none;
  }

  
}
@media (max-width: 600px) {
  .header-CA h2{
    font-size: 1rem;
  }

  .header-CA .actions{
    height: 40px;
    width: 300px;
  }

  #btnS-effacer, #btn-select{
    font-size: 0.7rem;
  }

  #statut-commande-annulee{
    width: 70px;
    justify-content: center;
    margin-left: 25.5rem;
  }

  #retour-mescommandes{
    display: none;
  }

  
}
@media (max-width: 480px) {
  .header-CA .actions{
    /* border: 1px red solid; */
    position: absolute;
    margin-top: 7rem;
    height: 40px;
    margin-left: 2rem;
  }

  .header-CA{
    height: 40px;
    /* border: 1px red solid; */
    margin-bottom: 3.5rem;
  }

  .header-CA h2{
    font-size: 1rem;
  }
  
  #statut-commande-annulee{
    width: 70px;
    justify-content: center;
    margin-left: 18rem;
  }

  #retour-mescommandes{
    display: none;
  }
}

@media (max-width: 414px){
  .header-CA .actions{
    /* border: 1px red solid; */
    position: absolute;
    margin-top: 7rem;
    height: 30px;
  }

  .badge-annulee {
    margin-left: 13rem;
  }

  #btn-select, #btn-effacer{
    font-size: 0.7rem;
  }

  /* #btn-effacer{
    width: 230px;
  } */

  .header-CA{
    height: 40px;
    /* border: 1px red solid; */
    margin-bottom: 3rem;
  }

  /* #statut-commande-annulee1{
    margin-left: 14rem;
  } */

  #retour-mescommandes{
    display: none;
  }
  
}

@media (max-width: 360px){
  .header-CA .actions{
    /* border: 1px red solid; */
    position: absolute;
    margin-top: 7rem;
    height: 30px;
  }

  .btn-select, .btn-effacer{
    font-size: 0.6rem;
  }

  .header-CA{
    height: 40px;
    /* border: 1px red solid; */
    margin-bottom: 3rem;
  }
  #retour-mescommandes{
    display: none;
  }

  #statut-commande-annulee{
    margin-left: 10rem;
  }
  

}

