.facture-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Helvetica", Arial, sans-serif;
  color: #333;
}

.facture-container .logo {
  width: 120px;
  margin-bottom: 20px;
}

.facture-container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  color: #222;
}

.facture-container p {
  margin: 5px 0;
}

.facture-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.facture-containerliste {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Helvetica", Arial, sans-serif;
  color: #333;
}


.facture-containerliste h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  color: #222;
}

.facture-containerliste table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.facture-containerliste table th,
.facture-containerliste table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.facture-containerliste table th {
  background: linear-gradient(120deg, #e49e09);
  font-weight: bold;
}

.facture-container h3 {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  color: #000;
}

.actions {
  margin-top: 30px;
  text-align: center;
}

.actions .btn {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 14px;
}

.btnliste {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  background: transparent;
  color: black;
  font-weight: bold;
}

.btnliste:hover{
  background-color: #4ee429;
}
a.btnliste {
  text-decoration: none;
}
.message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: green;
}

/* Module MesFactures */
.table-factures {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-factures th,
.table-factures td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.table-factures th {
  background: linear-gradient(120deg, #e49e09, #4ee429);
  font-weight: bold;
}

.table-factures td button {
  padding: 6px 12px;
  font-size: 13px;
}

.facture-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.association-info {
  text-align: right;
  
}

.commande-section {
  margin-top: 20px;
  position: relative;
}

.total-right {
  text-align: right;
  margin-bottom: 10px;
}

.logo {
  width: 120px;
  height: 80px;       
  object-fit: cover;  
  border-radius: 4px; 
  
}

.title{
  text-align: center;
}

.APMTHR{
  color: #000;
}

.btnaction{
  border: 2px grey solid;
  height: 2rem;
  border-radius: 5rem;
  position: relative;
 
}

.paiement-info p{
    margin-left: 2rem;
}

@media(max-width: 768px){
  .badge-success{
    width: 30px;
  }
}

@media (max-width: 640px) {
  .facture-detail .logo{
    /* border: 1px red solid; */
    margin-bottom: 5rem;
    margin-top: 0;
    width: 100px;
    height: 38px;
  }
  .facture-detail h2{
    font-size: 0.9rem;
  }
  
  .client-info h3{
    font-size: 0.9rem;
  }

  .association-info h2{
    font-size: 0.9rem;

  }

  .client-info p{
    font-size: 0.8rem;
  }

  .association-info p{
    font-size: 0.8rem;
  }

  .paiement-info p{
    font-size: 0.8rem;
  }

  .total-right{
    font-size: 0.8rem;
  }

  .actions{
    margin-top: 2.5rem;
  }

  .Statut-facture{
    display: none;
  }
}

@media (max-width: 600px) {
  .facture-detail .logo{
    /* border: 1px red solid; */
    margin-bottom: 5rem;
    margin-top: 0;
    width: 100px;
    height: 38px;
  }
  .facture-detail h2{
    font-size: 0.9rem;
  }
  .client-info h3{
    font-size: 0.9rem;
  }

  .association-info h2{
    font-size: 0.9rem;

  }

  .client-info p{
    font-size: 0.8rem;
  }

  .association-info p{
    font-size: 0.8rem;
  }

  .paiement-info p{
    font-size: 0.8rem;
  }

  .total-right{
    font-size: 0.8rem;
  }

  .actions{
    margin-top: 2.5rem;
  }

  .Statut-facture{
    display: none;
  }
  
}



@media (max-width: 414px){
 
  .facture-detail .logo{
    width: 90px;
    margin-top: 0;
  }

  .facture-detail h2{
    /* border: 1px red solid; */
    font-size: small;
    width: 180Px;
    margin-left: 6rem;
    /* margin-top: 3.5rem; */
  }
  
  .client-info{
    justify-content: left;
    font-size: 0.6rem;
    margin-top: 1.5rem;
  }
  .association-info{
    display: none;
  }

  .table-facture{
    font-size: 0.8rem;
  }

  .paiement-info, .total-right{
    font-size: 0.6rem;
  }

  .Statut-facture{
    display: none;
  }

  .actions #btn-Ngénéré{
    display: none;
  }

}


@media (max-width: 360px){
  .facture-detail .logo{
    width: 90px;
    margin-top: 0;
  }

  .facture-detail h2{
    /* border: 1px red solid; */
    font-size: small;
    width: 180Px;
    margin-left: 5rem;
    margin-top: 3.5rem;
  }
  
  .client-info{
    justify-content: left;
    font-size: 0.6rem;
    margin-top: 1.5rem;
  }
  .association-info{
    display: none;
  }

  .table-facture{
    font-size: 0.8rem;
  }

  .paiement-info, .total-right{
    font-size: 0.6rem;
  }

  .Statut-facture{
    display: none;
  }

  .actions #btn-Ngénéré{
    display: none;
  }

}
