.btnaction-lfacture{
    background: white;
    height: 30px;
}

.btnaction-lfacture a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

@media (max-width: 600px) {
  .mesfactures-title h2 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .mesfactures-title h2 {
    font-size: 1rem;
  }
}

@media (max-width: 414px) {
  .mesfactures-title h2 {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .mesfactures-title h2 {
    font-size: 1rem;
  }
}
