.modifier-email-container{
    border:  2px white solid;
    height: 400px;
    width: 500px;
    margin-left:30%;
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 5px black inset;
}

.modifier-email-container h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}


.Form-input{
    margin-top: 2rem;
}

.Form-input label{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0.5rem;
}

.Valide-btn{
    width: 300px;
    margin-left: 5rem;
}

@media (max-width: 1024px) {
  .modifier-email-container {
    margin-left: 20%;
  }
}

@media (max-width: 640px) {
  .modifier-email-container {
    margin: 0 auto;
    width: 90%;
    max-width: 450px;
  }

  .modifier-email-container h2 {
    font-size: large;
    text-align: center;
  }

 .Form-input input {
    margin: 1rem auto;
    width: 100%;      
    position: relative;
    display: block;
    margin-top: 0;
  }

  #btn-modification-profil-email {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin-top: 2rem; */
    width: 100%;
    /* margin-top: 10%; */
    max-width: 480px;
  }
}

@media (max-width: 600px) {
  .modifier-email-container {
     margin: 0 auto;
    width: 90%;
    max-width: 400px;
  }

  .modifier-email-container h2 {
    font-size: large;
    text-align: center;
  }

   .Form-input input {
    margin: 1rem auto;
    width: 100%;
    position: relative;
    display: block;
    margin-top: 0;
  }

  #btn-modification-profil-email {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin-top: 2rem; */
    width: 100%;
    /* margin-top: 15%; */
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .modifier-email-container {
    margin: 0 auto;
    width: 90%;
    max-width: 350px;
  }

  .modifier-email-container h2 {
    font-size: large;
    text-align: center;
  }

  .Form-input input {
    margin: 1rem auto;
    width: 100%;
    margin-top: 0;
    position: relative;
    display: block;
  }

  #btn-modification-profil-email {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin-top: 2rem; */
    width: 100%;
    /* margin-top: 15%; */
    max-width: 350px;
  }

  .Valide-btn,
  .annuler-btn {
    margin: 0 auto;
    font-size: 0.7rem;
    /* height: 35px; */
  }
}

@media (max-width: 414px) {
  .modifier-email-container {
     margin: 0 auto;
    width: 90%;
    max-width: 350px;
  }

  .modifier-email-container h2 {
    font-size: large;
    text-align: center;
  }

  .Form-input input {
    margin: 1rem auto;
    width: 100%;
    margin-top: 0;
    position: relative;
    display: block;
  }

  .Valide-btn {
    padding-left: 0;
  }

  #btn-modification-profil-email {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* gap: 1rem; */
    /* margin-top: 15%; */
    max-width: 350px;
    margin-left: 0;
    height: 15px;
    /* border: 1px red solid; */
  }

  .Valide-btn,
  .annuler-btn {
    margin: 0 auto;
    font-size: 0.7rem;
    /* height: 5px; */
    /* border: 1px red solid; */

  }
}

@media (max-width: 360px) {
  .modifier-email-container {
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
  }

  .modifier-email-container h2 {
    font-size: large;
    text-align: center;
  }

 .Form-input input {
    margin: 1rem auto;
    width: 100%;
    margin-top: 0;
    position: relative;
    display: block;
  }

  #btn-modification-profil-email {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* gap: 1rem; */
    /* margin-top: 15%; */
    max-width: 300px;
    margin-left: 0;
    height: 15px;
    /* border: 1px red solid; */
  }

  .Valide-btn,
  .annuler-btn {
    margin: 0 auto;
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .modifier-email-container {
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
  }

  .modifier-email-container h2 {
    font-size: large;
    text-align: center;
  }

 .Form-input input {
    margin: 1rem auto;
    width: 100%;
    margin-top: 0;
    position: relative;
    display: block;
  }

  #btn-modification-profil-email {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* gap: 1rem; */
    /* margin-top: 15%; */
    max-width: 300px;
    margin-left: 0;
    height: 15px;
    /* border: 1px red solid; */
  }

  .Valide-btn,
  .annuler-btn {
    margin: 0 auto;
    font-size: 0.7rem;
  }
}



