.modifier-mdp-container{
    border:  2px white solid;
    height: 400px;
    width: 500px;
    margin-left:30%;
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 5px black inset;
}

.modifier-mdp-container h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}


.Form-input{
    margin-top: 2rem;
}

.Form-input label{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0.5rem;
}

.Valide-btn{
    width: 400px;
    margin-left: 5rem;
}
@media (max-width: 1024px) {
  .modifier-mdp-container {
    margin-left: 20%;
  }
}

@media (max-width: 640px) {
  .modifier-mdp-container {
    margin-left: 3rem;
    width: 450px;
  }

  .modifier-mdp-container h2 {
    font-size: large;
  }

  form label {
    font-size: 0.9rem;
  }

  #btn-modification-MDP {
    display: flex;
    flex-direction: row;
    width: 350px;
    position: absolute;
    gap: 1rem;
    margin-top: 9rem;
    margin-left: 0;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .modifier-mdp-container {
    margin-left: 1rem;
    width: 400px;
  }

  .modifier-mdp-container h2 {
    font-size: large;
  }

  form label {
    font-size: 0.9rem;
  }

  #btn-modification-MDP {
    display: flex;
    flex-direction: row;
    width: 350px;
    position: absolute;
    gap: 1rem;
    margin-top: 9rem;
    margin-left: 0;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  form label {
    font-size: 0.9rem;
  }

  .modifier-mdp-container {
    margin-left: 2rem;
    width: 350px;
  }

  .modifier-mdp-container h2 {
    font-size: large;
  }

  .Form-input input {
    margin-left: 0;
    margin-top: 2rem;
    width: 280px;
  }

  #btn-modification-MDP {
    display: flex;
    flex-direction: row;
    width: 300px;
    position: absolute;
    gap: 1rem;
    margin-top: 13rem;
    margin-left: 0;
    padding-left: 0;
  }

  .Valide-btn,
  .annuler-btn {
    font-size: 0.7rem;
    height: 35px;
  }
}

@media (max-width: 414px) {
  .modifier-mdp-container {
    margin-left: 2rem;
    width: 350px;
  }

  .modifier-mdp-container h2 {
    font-size: large;
  }

  .Form-input input {
    margin-left: 0.2rem;
    margin-top: 2rem;
    position: absolute;
    width: 320px;
  }

  .Valide-btn {
    padding-left: 0;
  }

  form label {
    font-size: 0.8rem;
  }

  #btn-modification-MDP {
    display: flex;
    flex-direction: row;
    width: 350px;
    position: absolute;
    gap: 1rem;
    margin-top: 13rem;
    margin-left: 0;
    padding-left: 0;
  }
}

@media (max-width: 360px) {
  form label {
    font-size: 0.8rem;
    max-width: 360px;
  }

  .modifier-mdp-container {
    margin-left: 2rem;
    width: 350px;
  }

  .modifier-mdp-container h2 {
    font-size: large;
  }

  form input {
    margin-left: 0;
    margin-top: 0.1rem;
    margin-right: 5rem;
    width: 300px;
  }

  #btn-modification-MDP {
    display: flex;
    flex-direction: row;
    width: 300px;
    position: absolute;
    gap: 1rem;
    margin-top: 13rem;
    margin-left: 0;
    padding-left: 0;
  }

  .Valide-btn,
  .annuler-btn {
    font-size: 0.7rem;
    height: 35px;
  }
}




