.profil-options button{
    border: none;
    background: transparent;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.profil-options{
    width: 500px;
    margin-left: 15rem;
}

.profil-container{
    border: 2px beige solid;
    background: beige;
    height: 100vh;
}

.profil-titre h2{
    text-align: center;
    margin-top: 5rem;
    font-size: 30px;
    font-family:cursive;
}

.Informations-profil{
    font-family:cursive;
    display: none;
}

#retour-btn{
    height: 2rem;
    margin-top: 5rem;
}

.profil-titre{
    display: flex;
    flex-direction: inline-block;
    gap: 15rem;
    text-align: center;
    margin-left: 8rem;
}
@media (max-width: 1024px) {
    .profil-titre{
        /* border: 1px red solid; */
        margin-left: 3rem;
        margin-bottom: 0;
        width: auto;
    }

    
}

@media (max-width: 768px) {
    .profil-titre{
        /* border: 1px red solid; */
        margin-left: 3rem;
        margin-bottom: 0;
        width: auto;
    }

    .profil-titre h2{
        /* border: 1px red solid; */
        /* margin-top: 2rem; */
        width: 800Px;
        font-size: 1rem;
        /* margin-left: 3rem; */

    }
    
}

@media (max-width: 640px) {
     .profil-container{
        height: 50vh;
        width: 540px;
        margin-left: 1.5rem;
    }
    .profil-titre{
        /* border: 1px red solid; */
        margin-left: 0;
        margin-bottom: 0;
        height: 80px;
    }

    .profil-titre{
       display: none;
    }

    .Informations-profil{
        margin-bottom: 0;
        /* border: 1px red solid; */
        width: 10rem;
        margin-top: 0;
        font-size: 0.99rem;
        /* border: 1px red solid; */
        width: 1000px;
        margin-bottom: 0;
        display: block;
        margin-top: 1rem;
        margin-left: 2.5rem;
        /* position: absolute; */
    }

    .profil-options{
        margin-left: 0;
        margin-top: 1rem;
    }
    .profil-options button{
        margin-left: 0;
        font-size: 0.9rem;
    }
    
}
@media (max-width: 600px) {
     .profil-container{
        height: 50vh;
        width: 540px;
        margin-left: 0;
    }
    .profil-titre{
        /* border: 1px red solid; */
        margin-left: 0;
        margin-bottom: 0;
        height: 80px;
    }

    .profil-titre{
       display: none;
    }

    .Informations-profil{
        margin-bottom: 0;
        /* border: 1px red solid; */
        width: 10rem;
        margin-top: 0;
        font-size: 0.99rem;
        /* border: 1px red solid; */
        width: 1000px;
        margin-bottom: 0;
        display: block;
        margin-top: 1rem;
        margin-left: 2.5rem;
        /* position: absolute; */
    }

    .profil-options{
        margin-left: 0;
        margin-top: 1rem;
    }
    .profil-options button{
        margin-left: 0;
        font-size: 0.9rem;
    }
    
}

@media (max-width: 480px) {
     .profil-container{
        height: 50vh;
        width: 400px;
    }
    .profil-titre{
        /* border: 1px red solid; */
        margin-left: 0;
        margin-bottom: 0;
        height: 80px;
    }

    .profil-titre{
       display: none;
    }

    .Informations-profil{
        margin-bottom: 0;
        /* border: 1px red solid; */
        width: 10rem;
        margin-top: 0;
        font-size: 0.99rem;
        /* border: 1px red solid; */
        width: 1000px;
        margin-bottom: 0;
        display: block;
        margin-top: 1rem;
        margin-left: 2.5rem;
        /* position: absolute; */
    }

    .profil-options{
        margin-left: 0;
        margin-top: 1rem;
    }
    .profil-options button{
        margin-left: 0;
        font-size: 0.9rem;
    }
    
}

@media(max-width: 414px){
    .profil-container{
        height: 50vh;
        margin-left: 0;
        width: auto;
    }
    .profil-titre{
        /* border: 1px red solid; */
        margin-left: 0;
        margin-bottom: 0;
        height: 80px;
    }

    .profil-titre{
       display: none;
    }

    .Informations-profil{
        margin-bottom: 0;
        /* border: 1px red solid; */
        width: 10rem;
         margin-top: 0;
        font-size: 0.99rem;
        /* border: 1px red solid; */
        width: 1000px;
        margin-bottom: 0;
        display: block;
        margin-top: 1rem;
        /* position: absolute; */
    }

    .profil-options{
        margin-left: 0;
        margin-top: 1rem;
    }
    .profil-options button{
        margin-left: 0;
        font-size: 0.9rem;
    }
}

@media(max-width: 360px){
    .profil-container{
        height: 50vh;
        margin-left: 0;
        width: auto;
    }

    .profil-titre{
        /* border: 1px red solid; */
        margin-left: 0;
        margin-bottom: 0;
        height: 80px;
    }

    .profil-titre{
       display: none;
    }

    .Informations-profil{
        margin-bottom: 0;
        /* border: 1px red solid; */
        width: auto;
         margin-top: 0;
        font-size: 0.9rem;
        /* border: 1px red solid; */
        width: 1000px;
        margin-bottom: 0;
        display: block;
        margin-top: 1rem;
        margin-left: 1rem;
        /* position: absolute; */
    }

    .profil-options{
        margin-left: 0;
        margin-top: 1rem;
    }
    .profil-options button{
        margin-left: 0;
        font-size: 0.9rem;
    }
}