
.page-commande {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.col-gauche {
  flex: 1;
}

.col-droite {
  flex: 1;
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.info {
  color: #666;
  font-style: italic;
}

@media (max-width: 640px) {
  .page-commande{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
  }
  
}

@media (max-width: 600px) {
  .page-commande{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
  }
  
}
@media(max-width: 414px){
  .page-commande{
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  }

}

@media(max-width: 360px){
  .page-commande{
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  }

}