.commande-card {
  max-width: 300px;
  margin: 2rem auto;
  background: #f5f5dc; 
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #2e7d32; 
  margin-bottom: 1rem;
}

form input, form select {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.numero-admin {
  margin-top: 1rem;
  background: #eee;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  
}

.numero-admin label{
  width: 300px;
  font-size: 13px;
}

.numero-admin .mode{
  /* border: #ff9800 solid 2px; */
  /* width: 10rem; */
  margin-left: 2rem;
  margin-top: 5rem;
  /* animation: zoomButton 7s infinite; */
  background: white;
  margin: 0;
}

.numero-admin input{
  background-color: #2e7d32;
}
.btn-commande {
  background-color: #2e7d32;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  animation: zoomButton 2s infinite; 
}

.btn-commande:hover {
  background-color: #ff9800;
}


@keyframes zoomButton {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}



.container, .paiement-container, .stock-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 320px) {
  .commande-card{
    position: relative;
    margin-top: 0;
  }

  .commande-card h2{
    width: 200px;
    /* border: 1px red solid; */
    font-size: 15px;
  }
  
  .commande-card form label{
    width: 200px;
    position: relative;
  }

  .commande-card form label input{
    width: 190px;
  }

  .numero-admin{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column
  }

  .numero-admin label{
    /* border: 1px red solid; */
    /* width: 100px; */
    /* font-size: 0.5rem; */
    position: relative;
    margin: 0;
  }

}

@media (max-width: 360px) {
  .commande-card form label input{
    width: 200px;
  }

  .numero-admin{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column
  }

  .numero-admin label{
    /* border: 1px red solid; */
    width: 180px;
    /* font-size: 0.5rem; */
    position: relative;
    margin: 0;
  }

}


@media (max-width: 414px){
  .numero-admin{
    /* width: 200px; */
    height: 50px;
    display: flex;
    flex-direction: column
  }
}


@media (max-width: 375px) {
  .commande-card form label input{
    width: 200px;
  }

  .numero-admin{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column
  }

  .numero-admin label{
    /* border: 1px red solid; */
    width: 180px;
    /* font-size: 0.5rem; */
    position: relative;
    margin: 0;
  }

}


